.root {
  display: flex;
  flex-direction: column;
  block-size: 100%;
  gap: var(--nf-space-4);
  padding: var(--nf-space-4);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: var(--nf-space-4);
  border-block-end: 1px solid var(--nf-color-border);
}

.body {
  display: flex;
  flex: 1;
  gap: var(--nf-space-6);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--nf-space-3);
  inline-size: 14rem;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--nf-space-3);
  flex: 1;
}
